In [2]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\hi\appdata\local\programs\python\python313\lib\site-packages (0.9.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from tabulate import tabulate

# Sample data (you can expand this list with more entries)
data = [
    ["Jannat- E Subah", "152330004", "19", "9"],
    ["Ahnaf Hasan Evan", "152330012", "ab", "8"],
    ["Md Sazidur Rahaman", "152330016", "17", "8"],
    ["Mahade Hassan Tamim", "152330033", "19", "9"],
    ["Omma Farida Pakiza", "152330035", "ab", "8"],
    ["Taa-Seen Ahmed", "152330039", "ab", "8"],
    ["Md. Omar Faruk", "152330051", "16", "10"],
    ["Anmoy Sen", "152330062", "19.5", "ab"],
    ["Athoye Mahmud", "152330068", "ab", "ab"],
    ["Marjia Anika Prerona", "152330079", "16.5", "7.5"],
    ["Mahera Rezwan", "152330080", "ab", "6"],
    ["Kashshaf Tanzim", "152330089", "9", "4"],
    ["Mushfiqur Rahman", "152330090", "17", "8"],
    ["Md. Jahid Hossen Siam", "152330095", "15.5", "7.5"],
    ["Mst. Sumaiya Mubasira Tamanna", "152330097", "17", "9"],
    ["Muntasir Hasan", "152330110", "ab", "ab"],
    ["Shamir Hossain", "152330128", "13.5", "7.5"],
    ["Md. Shanto Molla", "152330160", "ab", "9.5"],
    ["Syeda Atika Hossain", "152410014", "ab", "ab"],
    ["Sanjid Islam Mihir", "152410023", "15", "8"],
    ["Akon Muhammad An Nafee Al Affao", "152410026", "11", "6.5"],
    ["Jahidur Rahman Zesan", "152410049", "20", "9.5"],
    ["Md Shafi Sharar", "152410068", "13", "4"]
]

headers = ["Name", "ID", "Class Test (20)", "class Test (20)"]

# Print as a formatted table
print(tabulate(data, headers=headers, tablefmt="grid"))

+---------------------------------+-----------+-------------------+-------------------+
| Name                            |        ID | Class Test (20)   | class Test (20)   |
+=================================+===========+===================+===================+
| Jannat- E Subah                 | 152330004 | 19                | 9                 |
+---------------------------------+-----------+-------------------+-------------------+
| Ahnaf Hasan Evan                | 152330012 | ab                | 8                 |
+---------------------------------+-----------+-------------------+-------------------+
| Md Sazidur Rahaman              | 152330016 | 17                | 8                 |
+---------------------------------+-----------+-------------------+-------------------+
| Mahade Hassan Tamim             | 152330033 | 19                | 9                 |
+---------------------------------+-----------+-------------------+-------------------+
| Omma Farida Pakiza              | 152330035 | ab                | 8                 |
+---------------------------------+-----------+-------------------+-------------------+
| Taa-Seen Ahmed                  | 152330039 | ab                | 8                 |
+---------------------------------+-----------+-------------------+-------------------+
| Md. Omar Faruk                  | 152330051 | 16                | 10                |
+---------------------------------+-----------+-------------------+-------------------+
| Anmoy Sen                       | 152330062 | 19.5              | ab                |
+---------------------------------+-----------+-------------------+-------------------+
| Athoye Mahmud                   | 152330068 | ab                | ab                |
+---------------------------------+-----------+-------------------+-------------------+
| Marjia Anika Prerona            | 152330079 | 16.5              | 7.5               |
+---------------------------------+-----------+-------------------+-------------------+
| Mahera Rezwan                   | 152330080 | ab                | 6                 |
+---------------------------------+-----------+-------------------+-------------------+
| Kashshaf Tanzim                 | 152330089 | 9                 | 4                 |
+---------------------------------+-----------+-------------------+-------------------+
| Mushfiqur Rahman                | 152330090 | 17                | 8                 |
+---------------------------------+-----------+-------------------+-------------------+
| Md. Jahid Hossen Siam           | 152330095 | 15.5              | 7.5               |
+---------------------------------+-----------+-------------------+-------------------+
| Mst. Sumaiya Mubasira Tamanna   | 152330097 | 17                | 9                 |
+---------------------------------+-----------+-------------------+-------------------+
| Muntasir Hasan                  | 152330110 | ab                | ab                |
+---------------------------------+-----------+-------------------+-------------------+
| Shamir Hossain                  | 152330128 | 13.5              | 7.5               |
+---------------------------------+-----------+-------------------+-------------------+
| Md. Shanto Molla                | 152330160 | ab                | 9.5               |
+---------------------------------+-----------+-------------------+-------------------+
| Syeda Atika Hossain             | 152410014 | ab                | ab                |
+---------------------------------+-----------+-------------------+-------------------+
| Sanjid Islam Mihir              | 152410023 | 15                | 8                 |
+---------------------------------+-----------+-------------------+-------------------+
| Akon Muhammad An Nafee Al Affao | 152410026 | 11                | 6.5               |
+---------------------------------+-----------+-------------------+-------------------+
| Jahidur Rahman Zesan            | 152410049 | 20                | 9.5               |
+---------------------------------+-----------+-------------------+-------------------+
| Md Shafi Sharar                 | 152410068 | 13                | 4                 |
+---------------------------------+-----------+-------------------+-------------------+